body {
  margin: 0;
  padding: 5px 3px;
  font-family: arial, sans-serif;
  font-size: 12px;
  background-color: #fff;
  width: 320px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  line-height: 25px;
  min-height: 25px;
  border: solid 1px rgba(255, 255, 255, 0);
  transition: all 0.1s;
  min-width: 0;
}

.menu-item:hover {
  border-radius: 3px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fff),
    color-stop(0.4, hsl(214, 66%, 96%)),
    color-stop(0.41, hsl(212, 47%, 94%))
  );
  border: solid 1px #c5cdd3;
}

.column {
  display: flex;
  align-items: center;
}

.icon-col {
  width: 20px;
  flex-shrink: 0;
  justify-content: center;
}

.title-col {
  flex: 1;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  padding-right: 12px;
}

.shortcut-col {
  flex-shrink: 0;
  color: #a1a192;
  text-align: right;
  min-width: 40px;
}

.separator {
  border-top: 1px solid #dddddd;
  height: 0px;
  margin: 3px 2px 6px 2px;
}
